/* ------------------------------------------------------ADMIN CONTAINER STYLE STARTS HERE------------------------------------------------------ */

/*-------------------------------------------------------------
----------------- Overall Styling section starts here -----------------
---------------------------------------------------------------  */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  /* color */
  --bg: #f1f1f1;
  --main-color: #eb3f88;
  --black: #000;
  --white: #fff;
  --red: #ff1200;
  --green: #159538;
  --light-color: #666666;

  /* border */
  --border: 0.1rem solid var(--light-color);
  --red-border: 0.1rem solid var(--red);
  --green-border: 0.1rem solid var(--green);
  --main-border: 0.1rem solid var(--main-color);
  --i-border: 0.1rem solid transparent;

  /* Shadow */
  --white-box-shadow: 0 2px 20px 2px var(--white);
  --box-shadow: 0 2px 20px 2px #0000001a;
  --main-box-shadow: 0 0px 10px 3px var(--main-color);
  --text-shadow: 0.1rem 0.1rem 0.1rem var(--main-color);
  --text-shadow-black: 0 1px 5px #0000004d;
  --text-shadow-icon: 0 0 3px var(--black);
  --overlay-bg: linear-gradient(#171717b9 0%, #171717b9 100%);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

#sidebar::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Overall Body section starts here */

.main {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: 15% 86%;
  background-color: var(--bg);
}

.main .main-content {
  background-color: var(--bg);
}

/* Overall Body section ends here */

/* Overall List Table section starts here */

.list-table {
  border-collapse: collapse;
  margin: 1rem auto;
  font-size: 1rem;
  width: 80%;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--box-shadow);
}

.list-table thead tr {
  color: var(--white);
  background: var(--main-color);
  text-align: left;
}

.list-table thead tr th {
  cursor: pointer;
  text-transform: uppercase;
}

.list-table th,
.list-table td {
  padding: 12px 15px;
}

.list-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.list-table tbody tr:last-of-type {
  border-bottom: var(--main-border);
}

.list-table tbody tr td .fa-trash-alt {
  border: var(--red-border);
  color: var(--red);
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.list-table tbody tr td .fa-trash-alt:hover {
  background-color: var(--red);
  color: var(--white);
}

.list-table tbody tr td .fa-edit {
  border: var(--green-border);
  color: var(--green);
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.list-table tbody tr td .fa-edit:hover {
  background-color: var(--green);
  color: var(--white);
}

.list-table tbody tr td .fa-eye {
  border: var(--main-border);
  background-color: var(--main-color);
  color: var(--white);
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.list-table tbody tr td .fa-eye:hover {
  background-color: var(--white);
  color: var(--main-color);
}

/* Overall List Table section ends here */

/* Overall error section starts here */

.information-error {
  display: inline-flex;
}

.information-error .success,
.information-error .error {
  position: absolute;
  margin-top: -0.8rem;
  margin-left: 1rem;
  font-size: 1rem;
  visibility: hidden;
  display: none;
}

.information-error .success {
  color: var(--green);
}

.information-error .error {
  color: var(--red);
}

.information-error .fa-thumbs-up {
  color: var(--green);
}

.information-error .fa-exclamation-circle {
  color: var(--red);
}

/* Overall error section ends here */

/* Overall Star Rating section starts here */

.star-rating,
.product-rate {
  display: inline-flex;
}

.star-rating .fill-rate {
  color: var(--light-color);
  text-shadow: var(--text-shadow-icon);
  font-size: 2rem;
}

.product-rate {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-rate .star {
  padding-left: 0.3rem;
  font-size: 2rem;
  cursor: pointer;
  text-shadow: var(--text-shadow-icon);
  z-index: 0;
}

.one-star,
.two-star {
  color: var(--red);
}

.three-star,
.four-star {
  color: var(--main-color);
}

.five-star {
  color: var(--green);
}

/* Overall Star Rating section ends here */

/* Overall form section starts here */

.add-table {
  max-width: 400px;
  width: 100%;
  height: fit-content;
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--main-color);
  border-left: var(--main-border);
  border-right: var(--main-border);
  border-bottom: var(--main-border);
}

.add-table h1,
.Product-forms h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color);
}

.add-table h1::before,
.Product-forms h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 150px;
  border-radius: 8px;
  background-color: var(--main-color);
}

.main-search,
.main-input,
.product-input {
  background-color: var(--white);
  border: var(--main-border);
  box-shadow: var(--box-shadow);
  display: inline-flex;
}

.main-search,
.main-input {
  border-radius: 4rem;
}

.main-input,
.main-input input,
.product-input,
.product-input select,
.product-input textarea,
.product-input input {
  width: 100%;
}

.product-input textarea,
.product-input select,
.product-input input,
.main-search input,
.main-input input {
  border: none;
  background: none;
  outline: none;
  color: var(--main-color);
  font-size: 1.2rem;
  transition: all 0.8s;
  margin-right: 0.7rem;
  padding-left: 0.3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.main-search input {
  width: 18rem;
}

.product-input textarea {
  padding-top: 0.6rem;
  padding-bottom: 0.1rem;
  align-items: center;
}

.product-input #title {
  height: 3rem;
}

.product-input #description {
  height: 6rem;
}

.product-input #category {
  color: var(--light-color);
}

.product-input #category .disabled {
  color: var(--main-color);
}

.product-input #image {
  padding-left: 1rem;
  padding-top: 0.2rem;
  cursor: pointer;
}

.view-input #image::file-selector-button,
.product-input #image::file-selector-button {
  font-size: 1rem;
  border: var(--main-border);
  color: var(--white);
  border-radius: 4px;
  padding: 0 16px;
  height: 38px;
  cursor: pointer;
  background-color: var(--main-color);
  margin-right: 16px;
  letter-spacing: 0.1rem;
}

.view-input #image::file-selector-button:hover,
.product-input #image::file-selector-button:hover {
  background-color: var(--white);
  color: var(--main-color);
}

.product-input textarea::placeholder,
.product-input input::placeholder,
.main-search input::placeholder,
.main-input input::placeholder {
  color: var(--light-color);
  letter-spacing: 0.08rem;
}

.product-input i,
.main-search i,
.main-input i {
  height: fit-content;
  z-index: 1;
  background: var(--main-color);
  font-size: 1rem;
  color: var(--white);
  padding: 0.5rem;
  margin: 0.4rem 0 0.4rem 0.4rem;
  border-radius: 50px;
}

.main-input-name {
  margin: 1rem 0 0.3rem 0.5rem;
  font-size: 1rem;
  color: var(--main-color);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.buttons {
  text-align: center;
  margin: 2rem 0 1rem;
}

.btn {
  border: var(--main-border);
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--white);
  color: var(--main-color);
}

/* Overall form section ends here */

/* Overall Styling section ends here */

/*-------------------------------------------------------------
--------------- Header section starts here-------------
---------------------------------------------------------------  */

header {
  padding: 0.8rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  background-color: var(--bg);
  border-bottom: var(--main-border);
}

header .header-logo {
  transition: 0.6s;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

header .header-name {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin-left: 0.1rem;
  color: var(--black);
}

header .header-logo img {
  height: 2.5rem;
  width: 2.5rem;
}

header h1 {
  font-weight: 600;
  font-size: 2.3rem;
  color: var(--main-color);
}

header .header-logout {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: var(--black);
  border: var(--i-border);
  letter-spacing: 0.1rem;
  padding: 0.1rem 1rem;
}

header .header-logout:hover {
  color: var(--main-color);
  border: var(--main-border);
}

header .header-logout img {
  height: 2.6rem;
  width: 2.6rem;
}

/* Sub Header starts here  */

.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: var(--main-color);
}

.sub-header .main-total {
  box-shadow: var(--box-shadow);
  text-align: center;
  display: inline-flex;
  background-color: var(--white);
  color: var(--main-color);
  padding: 0.5rem 0.8rem;
  align-items: center;
}

.sub-header .main-total i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.sub-header .main-total h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.sub-header .main-total p {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: var(--light-color);
}

.sub-header .main-btn {
  color: var(--main-color);
  background-color: var(--white);
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.sub-header .main-btn:hover {
  box-shadow: var(--white-box-shadow);
}

/* Sub Header ends here  */

/* Header Section ends here */

/*-------------------------------------------------------------
----------------- navigation section starts here---------------
---------------------------------------------------------------  */

#sidebar {
  border: var(--main-border);
  background-color: var(--bg);
  height: 89vh;
  width: 15rem;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 10000;
  list-style: none;
  line-height: 3;
}

#sidebar li {
  padding: 0 2rem;
  cursor: pointer;
  border: var(--i-border);
}

#sidebar li a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar li a i {
  margin-right: 15px;
  color: var(--main-color);
  font-size: 1.2rem;
}

#sidebar .activated {
  cursor: no-drop;
  background-color: var(--main-color);
  box-shadow: 0 0px 10px 3px var(--main-color);
}

#sidebar .activated a {
  cursor: no-drop;
  color: var(--white);
}

#sidebar .activated a i {
  cursor: no-drop;
  color: var(--white);
}

#sidebar li:hover {
  box-shadow: var(--main-box-shadow);
}

/* navigation section ends here  */

/*-------------------------------------------------------------
----------------- Dashboard section starts here---------------
---------------------------------------------------------------  */

.main .main-content .main-content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.main .main-content .main-content-1 .cards {
  border: var(--main-border);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  height: 5.5rem;
  text-align: center;
  width: 12rem;
  line-height: 1.4;
}

.main .main-content .main-content-1 .cards i {
  font-size: 1.6rem;
  color: var(--main-color);
}

.main .main-content .main-content-1 .cards h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.main .main-content .main-content-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  place-items: center;
}

.main .main-content .main-content-2 .main-items {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 1rem;
  width: 20rem;
  margin: 2rem auto;
  border-top: 0.2rem solid var(--main-color);
  border-left: var(--main-border);
  border-right: var(--main-border);
  border-bottom: var(--main-border);
}

.main .main-content .main-content-2 .main-items h2 {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.main .main-content .main-content-2 .main-items .payables {
  font-size: 1rem;
  border-top: var(--border);
  margin: 0.5rem;
  font-weight: 400;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.main .main-content .main-content-2 .main-items .payables span {
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.main .main-content .main-content-2 .main-items .items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main .main-content .main-content-2 .main-items .items i {
  border: var(--border);
  padding: 1rem;
  width: 3rem;
  text-shadow: var(--text-shadow-black);
  font-size: 1.7rem;
  color: var(--main-color);
}

/* Dashboard Section ends here */

/*-------------------------------------------------------------
----------------- Categories section starts here-------------
---------------------------------------------------------------  */

.main .main-content .main-add-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Categories section ends here */

/*-------------------------------------------------------------
----------------- Product section starts here-------------
---------------------------------------------------------------  */

.main-product {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 8%;
}

.main-product .product-list {
  border: var(--main-border);
  background-color: var(--white);
  text-align: center;
  width: 15rem;
  padding: 0.5rem;
  cursor: pointer;
  height: 20rem;
}

.main-product .product-list:hover {
  box-shadow: var(--main-box-shadow);
}

.main-product .product-list:hover img {
  box-shadow: var(--box-shadow);
}

.main-product .product-list img {
  height: 13rem;
  border: var(--i-border);
}

.main-product .product-list h3 {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.main-product .product-list .product-btn {
  background-color: var(--main-color);
  color: var(--white);
  border: var(--main-border);
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.main-product .product-list:hover .product-btn {
  background-color: var(--white);
  color: var(--main-color);
}

/* Single product view */

.single-products-container {
  padding-left: 1rem;
  width: 97%;
}

.header-single {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.header-single h1 {
  position: relative;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.7rem;
}

.header-single h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 250px;
  border-radius: 8px;
  background-color: var(--main-color);
}

.header-single .fa-times {
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--main-color);
  height: 2.5rem;
  display: grid;
  width: 2.5rem;
  text-align: center;
  align-items: center;
  border: var(--main-border);
  border-radius: 5rem;
  cursor: pointer;
}

.header-single .fa-times:hover {
  color: var(--main-color);
  background-color: transparent;
}

.single-product {
  border: var(--main-border);
  box-shadow: var(--box-shadow);
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.single-product .single-product-content {
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

.single-product img {
  height: 25rem;
  border-right: var(--main-border);
}

.single-product .product-content {
  width: 70%;
  padding-left: 1rem;
}

.single-product .product-content .productId {
  color: var(--main-color);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.single-product .product-content .productId span {
  font-weight: 600;
  color: var(--black);
  text-shadow: var(--text-shadow);
}

.single-product .product-content .discount {
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.3rem;
  width: fit-content;
  border-radius: 0 5rem 5rem 0;
}

.single-product .product-content .discount span {
  text-transform: capitalize;
  background-color: var(--white);
  color: var(--main-color);
  padding: 0 0.4rem;
  margin: 0 0.3rem;
}

.single-product .product-content h3 {
  margin: 0.3rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.single-product .product-content p {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--light-color);
  letter-spacing: 0.05rem;
}

.single-product .review {
  color: var(--main-color);
  font-size: 1.2rem;
  align-items: center;
}

.single-product .amount {
  display: inline-flex;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.single-product .amount h4 {
  font-size: 1.5rem;
  color: var(--main-color);
  margin-right: 0.5rem;
}

.single-product .amount h5 {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: 400;
  color: var(--light-color);
}

.single-product .product-content h2 {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.single-product .product-content h2 span {
  text-transform: capitalize;
  font-weight: 300;
}

.single-product .product-content .product-buttons {
  margin: 2rem auto;
}

.single-product .product-content .product-buttons a {
  background-color: var(--main-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: var(--main-border);
}

.single-product .product-content .product-buttons a:hover {
  background-color: var(--white);
  color: var(--main-color);
  box-shadow: var(--main-box-shadow);
}

/* Admin Add Products */

.add-extra-header {
  margin: 1rem 5%;
}

.forms-seperate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.Product-forms {
  max-width: 1200px;
  width: 100%;
  margin: -0.5rem auto;
}

/* admin Settings */

.settings {
  padding: 1rem 3%;
}

.settings h1 {
  position: relative;
  color: var(--main-color);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.settings h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 160px;
  border-radius: 8px;
  background-color: var(--main-color);
}

fieldset {
  border: var(--main-border);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  box-shadow: var(--box-shadow);
}

legend {
  color: var(--main-color);
  text-transform: uppercase;
  padding: 0 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  align-items: center;
  letter-spacing: 0.2rem;
}

/* View Data  */

.view-seperate {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
}

.view-data {
  margin: 2rem 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.view-input {
  display: inline-flex;
  width: 100%;
}

.view-input .input-name {
  color: var(--white);
  border: var(--main-border);
  background-color: var(--main-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 32%;
  text-align: start;
}

.view-input input {
  width: 23rem;
}

.view-input select {
width: 25rem;
}

.view-input select,
.view-input input,
.view-input textarea {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: var(--white);
  color: var(--light-color);
  letter-spacing: 0.1rem;
  font-size: 1rem;
  border: var(--main-border);
}
